<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appkefu.appkehu_3"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name="com.appkefu.appkehu_3.AppApplication"
        android:allowBackup="true"
        android:icon="@drawable/jd_buy_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.appkefu.appkehu_3.TradeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.appkefu.appkehu_3.LoginActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.appkefu.lib.ChatViewActivity"
            android:theme="@android:style/Theme.NoTitleBar" />

        <service android:name="com.appkefu.lib.service.AppService" />

        <meta-data
            android:name="appkey"
            android:value="bbbd4e907bc911d3b69d18ec790f9fa2" />

        <activity
            android:name="com.appkefu.appkehu_3.BuyActivity"
            android:label="@string/title_activity_buy" >
        </activity>
        <activity
            android:name="com.appkefu.appkehu_3.CarActivity"
            android:label="@string/title_activity_car" >
        </activity>
        <activity
            android:name="com.appkefu.appkehu_3.CategoryActivity"
            android:label="@string/title_activity_category" >
        </activity>
        <activity
            android:name="com.appkefu.appkehu_3.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="com.appkefu.appkehu_3.MoreActivity"
            android:label="@string/title_activity_more" >
        </activity>
    </application>

</manifest>