<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appkefu.appkehu_3"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/jd_buy_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.appkefu.appkehu_3.TradeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.appkefu.appkehu_3.BuyActivity"/>
        <activity android:name="com.appkefu.appkehu_3.CarActivity"/>
        <activity android:name="com.appkefu.appkehu_3.CategoryActivity"/>
        <activity android:name="com.appkefu.appkehu_3.HomeActivity"/>
        <activity android:name="com.appkefu.appkehu_3.MoreActivity"/>
        
        
        <!-- 请到 http://appkefu.com/AppKeFu/admin/ 申请appkey-->
        <meta-data
            android:name="com.appkefu.lib.appkey"
            android:value="bbbd4e907bc911d3b69d18ec790f9fa2" />

        <!-- 聊天窗口, 可通过修改layout文件appkefu_chat_activity.xml自定义窗口UI -->
        <activity android:name="com.appkefu.lib.ui.activity.KFChatActivity" />
        <!-- 队列会话窗口，可通过修改layout问题appkefu_qchat_activity.xml自定义窗口UI -->
        <activity android:name="com.appkefu.lib.ui.activity.KFQChatActivity" />
        <!--  -->
        <activity android:name="com.appkefu.lib.ui.activity.KFFAQSectionsActivity"/>
        <activity android:name="com.appkefu.lib.ui.activity.KFFAQActivity" />
        <activity android:name="com.appkefu.lib.ui.activity.KFFAQDetailActivity" />
        <!-- 客服个人资料窗口 -->
        <activity android:name="com.appkefu.lib.ui.activity.KFProfileActivity" />
        <!-- 验证消息窗口，可通过修改layout文件appkefu_activity_subscribe_notification.xml自定义窗口UI -->
        <activity android:name="com.appkefu.lib.ui.activity.KFSubscribeNotificationActivity" />
        <activity android:name="com.appkefu.lib.ui.activity.KFMUCChatActivity" />
        <activity android:name="com.appkefu.lib.ui.activity.KFMUCProfileActivity" />

        <!-- <activity android:name="com.appkefu.lib.ui.activity.KFLocationMapActivity"/> -->

        <activity
            android:name="com.appkefu.lib.ui.activity.KFSelectPicActivity"
            android:theme="@style/appkefu_dialog_style_bottom" />

        <!-- 发送语音辅助service -->
        <service
            android:name="com.appkefu.lib.soundrecorder.KFRecorderService"
            android:exported="true" >
        </service>

        <!-- 主service -->
        <service
            android:name="com.appkefu.lib.service.KFMainService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.appkefu.lib.action.CONNECT" />
                <action android:name="com.appkefu.lib.action.DISCONNECT" />
                <action android:name="com.appkefu.lib.action.TOGGLE" />
                <action android:name="com.appkefu.lib.action.SEND" />
                <action android:name="com.appkefu.lib.action.NETWORK_STATUS_CHANGED" />
                <action android:name="com.appkefu.lib.action.XMPP.MESSAGE_RECEIVED" />
            </intent-filter>
        </service>
        
        <!-- 监听网络变化 -->
        <receiver android:name="com.appkefu.lib.receivers.KFNetworkConnectivityReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>         
        
        <!-- 检测链接状态 -->
        <receiver android:name="com.appkefu.lib.receivers.KFAlarmReceiver"/>
        
    </application>

</manifest>